.Somenteprint{
    display: none;
}

@media print{
    .no-print{
        display: none!important;
    }

    .print{
        display: block!important;
    }

    .Somenteprint{
        display: block!important;
    }
}